div#article-list
  list-style: none
  font-size: 15pt
  padding-top: 15px

span.post-date
  font-size: 12pt
  color: #848484
  padding-left: 5px

div.title > a:hover
  text-decoration: none
  color: #07467e

div#article-header
  text-align: center
  padding-left: 0px

div#article-header > h1
  margin-top: 10px

div#tags
  height: 20px
  color: #848484
  padding-top: 5px

span.tag > a
  text-decoration: none
  color: #848484
  padding-right: 5px

div#article-date
  font-weight: bold
  color: #848484
  font-size: 14pt

div#border
  border: solid 0.5px
  border-color: #eee
  margin-top: 5px
  margin-bottom: 5px
