.blog-wrapper {
  display: flex;
}

.entries-wrapper {
  flex-direction: column;
  margin-top: 20px;
}

.entry-title {
  display: flex;
  height: 30px;
}

.entry-title-link {
  margin-right: 2px;
}

.tagnames-wrapper {
  display: flex;
}

.tagname {
  display: flex;
  justify-content: center;
  display: inline-block;
  font-size: 10pt;
  background: #d7d7d7;
  border-radius: 3px;
  padding: 0 5px 0 5px;
  margin-left: 3px;
}

.tagname > i {
  font-size: 3pt;
}
