html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.hljs {
  background: #f5f5f5 !important
}

.glyphicon-time:before {
  vertical-align: middle;
}

.glyphicon-tag:before {
  vertical-align: middle;
}

.glyphicon {
  letter-spacing: 5px;
}

.outer-width {
  padding-left: 30px;
}

.inner-width {
  padding-left: 0px;
}

#main {
  margin-top: 50px;
}

/*
 * top
 */
div#top-header {
  margin: -200px 0 0 -200px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  text-align: center;
}

img#top-img {
  border-radius: 50%;
  width: 200px;
}

div#social-links {
  margin-top: 10px;
}

div#social-links > a {
  text-decoration: none;
  color: #6e6e6e;
}

i.my-i-size {
  padding-right: 3px;
  padding-left: 3px;
  font-size: 30px;
}

/*
 * article page
 */
div#article-list {
  list-style: none;
  font-size: 15pt;
  padding-top: 15px;
}

span.post-date {
  font-size: 12pt;
  color: #848484;
  padding-left: 5px;
}

div.title > a:hover {
  text-decoration: none;
  color: #07467e;
}

div#article-header {
  text-align: center;
  padding-left: 0px;
}

div#article-header > h1 {
  margin-top: 10px;
}

div#tags {
  height: 20px;
  color: #848484;
  padding-top: 5px;
}

span.tag > a {
  text-decoration: none;
  color: #848484;
  padding-right: 5px;
}

div#article-date {
  font-weight: bold;
  color: #848484;
  font-size: 14pt;
}

div#border {
  border: solid 0.5px;
  border-color: #eee;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*
 * tag page
 */
div#tag-header {
  text-align: center;
  padding-top: 15px;
}

div#tag-header > h2 > span {
  font-size: 15pt;
}
