img-size = 200px

#top-header
  margin-top -(img-size/2)
  margin-right 0
  margin-bottom 0
  margin-left -(img-size/2)
  position absolute
  top 45%
  left 50%
  text-align center

#img-wrapper
  position relative

#top-img
  border-radius 50%
  width img-size
  &:hover
    cursor pointer
    opacity 0.6

#social-links
  margin-top 10px

#social-links > a
  text-decoration none
  color #6e6e6e

i.my-i-size
  padding-right 3px
  padding-left 3px
  font-size 30px
